@using Shell.Models
@model IEnumerable<Shell.Models.Product>
<h3>Latest Listings</h3>


<div class="scrollbar">
    <div class="handle">
        <div class="mousearea"></div>
    </div>
</div>

<div class="frame" id="basic">
    <ul class="clearfix">
        @foreach (Product p in Model)
        {
            <li>
                <img src="@p.Images.First().URL" />
            </li>
        }
    </ul>
</div>

