@model IEnumerable<Shell.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
</head>
<body>

@*@<div class="input-group">
    @using (Html.BeginForm("Browse", "Store"))
    {
        @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    }

</div>
*@
<h1>Space</h1>
<h1>Space</h1>
<h1>Space</h1>
<h1>Space</h1>
<h1>Space</h1>

@using (Ajax.BeginForm("Browse", "Store",
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "this"
    }))
{
    @Html.TextBox("searchString")
    <input type="submit" value="Search"/>
}

<div id="this">
    @Html.Partial("_Listings", Model)

</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
</body>

</html>
