@model IEnumerable<Shell.Models.Product>


@*@<div class="input-group">
    @using (Html.BeginForm("Browse", "Store"))
    {
        @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    }

</div>
*@

@using (Ajax.BeginForm("Browse", "Store",
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "this"
    }))
{
    <input type="search" name="searchString"/>
    <input type="submit" value="Search"/>
}
<div id="this">
    @Html.Partial("_Listings", Model)
</div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
