
<label onclick="change(this)">
    <input type="radio" name="radio_button"/>
    <img src="unadslgundfguh"/>
</label>

<script>
    function change(parentNode) {
        for (var i = 0; i < parentNode.childNodes.length; i++) {
            console.log(i);
            console.log(parentNode.childNodes[i].src);
        }  
    }
</script>