@model Shell.UI.ViewModels.Manage.CreateOrganisationViewModel

<div class="form-horizontal">
    <h4>Organisation</h4>

    <form name="createOrganisationForm" id="createOrganisationForm">

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button value="Create" class="btn btn-default" onclick="createOrganisationPost()" />
            </div>
        </div>

    </form>
    
</div>
