@model List<Shell.UI.ViewModels.Manage.OrganisationSettings>

@{ 
    if(Model != null)
    {
        foreach(var org in Model)
        {
            <p>
                @org.Name
                @Html.ActionLink(org.Name, "Details", "Organisation", org.Id, null);
            </p>
        }
        <div class="selection">
            <button onclick="showOrganisationCreate()">Create an organisation</button>
        </div>
    }
    else
    {
        <p>You have no organisations yet</p>
        <div class="selection">
            <button onclick="showOrganisationCreate()">Create one now</button>
        </div>
    }

}