@model Shell.ViewModels.ManageViewModel

<div class="col-md-3">
    <div class="card">
        <div class="sidepanel">

            <div class="selection">
                <button onclick="showOrganisations()">Organisations</button>
            </div>

            <div class="selection">
                <button onclick="showSettings()">Settings</button>
            </div>

        </div>
    </div>
    
</div>

<div class="col-md-9 card">
    <div class="content" id="content">

    </div>
</div>

<script>


    function showSettings() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Settings")',
            success: function (result) {
                var content = document.getElementById("content");
                content.innerHTML = result;
            },
            error: function (result) {
                alert("Fail");
            }
        });
    }

    function showOrganisations() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Organisations")',
            success: function(result) {
                var content = document.getElementById("content");
                content.innerHTML = result;
            },
            error: function(result) {
                alert(result.responseText);
            }
        });
    }

    function showOrganisationCreate() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("CreateOrganisation")',
            success: function (result) {
                var content = document.getElementById("content");
                content.innerHTML = result;
            },
            error: function (result) {
                alert("error");
            }
        });
    }

    function postOrganisation(org) {
        console.log(org);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateOrganisation")',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(org),
            success: function (response) {
                if (response.result == 'Redirect')
                    window.location = response.url;
            },
            error: function (result){
                console.log(result);
            }
            
        });
    }

    function createOrganisationPost() {

        var attrs = document.getElementById("createOrganisationForm").elements;
        var request = new Object();

        //attrs.length - 1 because last element of attrs is 'create' input
        for (i=0; i < attrs.length - 1; i++) {
            request[attrs[i].name] = attrs[i].value;
        }
        console.log(JSON.stringify(request));
        postOrganisation(request);
    }
</script>