
@{
    ViewBag.Title = "Login";
}
<div class="container-fluid container-table">
    <div class="row vertical-center-row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-md-offset-2">
                <form>
                    <div class="form-group">
                        <center><h3>Welcome Back!</h3></center>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input name="Name" class="form-control" id="exampleInputEmail" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4" style="border-left:1px solid #ccc;">
                <form>
                    <div class="form-group">
                        <center><h3>New to Shell?</h3></center>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input name="Name" class="form-control" id="exampleInputEmail" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputRepeatEmail">Repeat Email</label>
                        <input name="Name" class="form-control" id="exampleInputRepeatEmail" placeholder="Repeat Email" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit">Create Account</button>
                    </div>
                    <div class="form-group">
                        <center><p>By Creating an account, you agree to the <a href="http://google.com">Terms Of Use</a></p><center>
                    </div>
                </form>
            </div>
        </div>
</div>